<div class="mb-2 d-flex" *ngFor="let msg of messages"
  [ngClass]="{ 'justify-content-end': msg.from === connectedUser }">
  <div>
    <div [ngClass]="{
                    'text-success': msg.from === connectedUser,
                    'text-primary': msg.from !== connectedUser
                  }" class="small fw-semibold mb-1 text-end">
      {{ msg.from === connectedUser ? 'You' : msg.from }}
    </div>
    <div class="bg-white px-4 py-1 rounded-3 shadow-sm d-inline-block">
      {{ msg.content }}
    </div>
  </div>
</div>